<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="headings">
            <h1>Safespace</h1>
            <h3>Safe place for your information</h3>
            {% if session['username'] %}
            <h3>User: {{ session['username'] }}</h3>
            {% endif %}
        </div>
        <div class="link">
            {% if session['username'] %}
            <a class="link_button" href="/signout">Sign out</a>
            {% else %}
            <a class="link_button" href="/signin">Sign in</a>
            <a class="link_button" href="/signup">Sign up</a>
            {% endif %}
        </div>
    </div>
    <div style="display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;">
        {% block body %}{% endblock %}
    </div>
</body>
</html>